{% block sw_cms_el_preview_recently_viewed_product_slider %}
    <div class="sw-cms-el-preview-product-slider">
        <sw-icon name="default-arrow-head-left" size="10"></sw-icon>
        <sw-cms-product-box-preview :hasText="false"></sw-cms-product-box-preview>
        <sw-icon name="default-arrow-head-right" size="10"></sw-icon>
    </div>
{% endblock %}
