{% block sw_cms_block_recently_viewed_product_slider %}
    <div class="sw-cms-block-recently-viewed-product-slider">
        <slot name="recentlyViewedProductSlider"></slot>
    </div>
{% endblock %}
