{% block block_recently_viewed_product_slider %}
    {% set element = block.slots.getSlot('recentlyViewedProductSlider') %}
    {% set columns = 1 %}

    {% if element.data.products.count > 0 %}
        {% set element = {
            id: block.slots.getSlot('recentlyViewedProductSlider').get('id')
        } %}

        <div class="col-12" data-cms-element-id="{{ element.id }}" data-recent-product-slider="true" data-recent-product-slider-options="{{ element|json_encode }}">
        </div>
    {% endif %}
{% endblock %}
