{% block sw_cms_preview_recently_viewed_product_slider %}
    <div class="sw-cms-preview-recently-viewed-product-slider">
        <sw-icon name="default-arrow-head-left" size="20"></sw-icon>
        <div class="sw-cms-preview-recently-viewed-product-slider__product-box">
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
        </div>
        <sw-icon name="default-arrow-head-right" size="20"></sw-icon>
    </div>
{% endblock %}
